@import '~font-awesome/css/font-awesome.min.css';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.font-size-15{
  font-size: 15px;
  font-weight: bold;
}
.text-wrapper{
  text-align: center;
  justify-content: space-between;
  padding: 1rem !important;
  font-size: 1rem !important;
}

.display-2{
  /* padding: 1rem !important; */
  font-size: 2rem !important;
}
form-control{
  width: 50% !important;
}
.search-card{
  padding: 5rem 8rem 2rem 8rem;
    background-color: gainsboro;
    border-radius: 10px;
}
.form-wrapper{
  padding: 0rem 4rem !important;
}
.book-text{
  padding: 3rem !important;
  text-align: center;
}
.col-wrapper .col-4{
  text-align: center;
}
.link{
  color: blue;
}
.loader{
  position: absolute;
  top: 46%;
  left: 46%;
  color: #3e6efd;
  font-size: 40px;
}    